{% extends 'base.html' %}

{% block title %}
    Tasks
{% endblock title %}

{% block content %}
<main>
    <div class="project-detail">
        <h1>{{ project_object.name }}</h1>
        <p>{{ project_object.description }}</p>
        <h2>Tasks</h2>
        <a href="{% url 'create_task' %}">Create a new task</a>
        {% if task_object %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Assignee</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in task_object %}
                        <tr>
                            <td>{{ item.name }}</td>
                            <td>{{ item.assignee }}</td>
                            <td>{{ item.start_date }}</td>
                            <td>{{ item.due_date }}</td>
                            <td>{{ item.is_completed|yesno }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>This project has no tasks</p>
        {% endif %}
    </div>
</main>
{% endblock content %}
